.main-page
{
    width:120%;
    margin:0;
}

    .header {
      display: flex;
      height: 40%;
      width: 100%;
    }

.header__logo
{display: flex;
 position: relative;
 margin-left: 10%;
width: 201px;
height: 40px;
top: 5vh;}


.header__button
{
display: flex;
position: relative;
width: 115px;
height: 38px;
margin-left: 60%;
top: 5vh;
background:url(/assets/images/button-cart.svg);
cursor: pointer;
border: none;

}

.article {
  width: 100%;
}
.article__one{
  display: flex;
font-family: Gentium Book Plus;
font-size: 60px;
font-weight: 400;
line-height: 72px;
letter-spacing: 0em;
text-align: left;
position: absolute;
width: 542px;
height: 216px;
left: 126px;
top: 206px;
line-height: 120%;

color: #000000;


}
.article__two {
  display: flex;
  position: absolute;
width: 487px;
height: 96px;
left: 126px;
top: 432px;
font-family: 'Roboto Slab';
font-style: normal;
font-weight: 300;
font-size: 20px;
line-height: 160%;
color: #000000;


}
.button__buy {
  display: flex;
position: absolute;
width: 270px;
height: 84px;
left: 116px;
top: 558px;
background: url(/assets/images/button-buy.png);
border-radius: 100px;
cursor: pointer;
}

.article__img {
  display: flex;
position: absolute;
width: 70px;
height: 724.31px;
left: 657px;
top: 128.11px;
left: 657px;
top: 128.106201171875px;
border-radius: 0px;

}



.menu__item {
font-family: Gentium Book Plus;
font-style: normal;
font-size: large;
font-size: 20px;
color: #5222D0;
}

.menu__item_active {
  font-family: Gentium Book Plus;
font-style: normal;
font-size: large;
font-size: 20px;
color: #5222D0;
}



    
.container__content {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
    width: 100%;
    height: 100%;

}
.container {
    display: flex;
    margin-top: 20vh;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 70vh;
    margin-left: 8vw;   
}

  .container__title {
    height: 30vh;
     font-weight:500;
     font-size:xx-large;  
font-family: Gentium Book Plus;
  }
  
.menu {
  display: inline-flex;
 justify-content: center;
  font-weight: 300;
 gap: 30px;
  list-style-type:  none;
  width:100vw;
}

.footer {
  display: flex;
  position: absolute;
  align-items: flex-start;
  margin-bottom: 20px;
 top: 1000px;

}

.container__input {
  display: grid;
  grid-auto-rows: 30% 30% 30% 10%;
  justify-content:space-around; 
  text-align: center;
  row-gap: 4%;
background-image: url(/assets/images/Rectangle\ 11.png);
 color: azure;  
font-family: Gentium Book Plus;
}


.container__news {
 font-size: medium;

}
  .container__button {
    
     font-family: Gentium Book Plus;
     color: beige;
     background-color: #5222D0;
     border-radius: 10%;
    cursor: pointer;
    font-size: medium;
  }